@import '../../Styles/colors.scss';

.input-group {
    padding: 0 !important;

    button {
        background-color: $color-primary !important;
        color: $color-white !important;
    
        &:hover {
            background-color: $color-primary-dark !important;;
        }
    }
}