@import '../../Styles/colors.scss';

.icon {
    display: inline-block;
}

.temp {
    font-size: 2rem;
}

.label {
    color: gray;
    font-size: .8rem;
    font-weight: 600;
}

tr {
    font-size: .8rem;
}

.weather-card {
    background-color: $color-white !important;
    box-shadow: 0 3px 10px 0 $color-shadow, 0 5px 10px 0 $color-shadow;
}