@import './Styles/colors.scss';

@mixin reset-border {
    border: 0 !important;
}

.App {
    background-color: $color-background;
    min-height: 100vh;
}

input {
    @include reset-border;
}

button {
    @include reset-border;
}