@import '../../../Styles/colors.scss';

.carousel-card {
    background-color: $color-white !important;
    box-shadow: 0 3px 10px 0 $color-shadow, 0 5px 10px 0 $color-shadow;
    padding-left: 10px;
    padding-right: 10px;
}

// .slick-slide {
//     margin-left: 10px;
// }

// .slick-list {
//     margin-left: -10px;
// }